*.pyc
__pycache__/
env/
venv/
.env
db.sqlite3
*.log
/users/__pycache__
*.sqlite3
.idea/misc.xml
users/__pycache__/views.cpython-313.pyc
/users/__pycache__
.idea/workspace.xml
*.xml
.idea/workspace.xml
*.xml
*.pyc
users/__pycache__/views.cpython-313.pyc
users/__pycache__/views.cpython-313.pyc
users/__pycache__/views.cpython-313.pyc
/users
users/__pycache__/views.cpython-313.pyc
db.sqlite3
.idea/
prompts/

